@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #cfcfcf;
}

::-webkit-scrollbar-thumb {
  background: #262626;
  border: 3px solid #bfbfbf;
  border-radius: 14px;
}

::-webkit-scrollbar-thumb:hover {
  background: #717171;
}

.dark ::-webkit-scrollbar-track {
  background: #1e1e24;
}

.dark ::-webkit-scrollbar-thumb {
  background: #a0a0a0;
  border: 3px solid #1e1e24;
  border-radius: 14px;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #cecece;
}
